# Stochastic Gradient Descent Machine Learning Model

In [1]:
import os
import pandas as pd

In [4]:
df = pd.read_csv(os.path.join('..', '..', 'data', 'rookies_stats.csv'))
df.head()

,rk,player,debut,age,yrs,g,mp,fg,fga,threes,...,pts,fg_pct,threes_pct,ft_pct,mp_pg,pts_pg,trb_pg,ast_pg,yr1,retired
0,1,Rafer Alston,"Feb 17, '00, MIL vs. IND",23,11,27,361,27,95,3,...,60,0.284,0.214,0.750,13.4,2.2,0.9,2.6,2000,1
1,2,Chucky Atkins,"Nov 2, '99, ORL @ CHH",25,11,82,1626,314,741,57,...,782,0.424,0.350,0.729,19.8,9.5,1.5,3.7,2000,1
2,3,William Avery,"Nov 13, '99, MIN vs. PHO",20,3,59,484,56,181,18,...,154,0.309,0.286,0.667,8.2,2.6,0.7,1.5,2000,1
3,4,Jonathan Bender,"Dec 10, '99, IND vs. CLE",19,8,24,130,23,70,2,...,64,0.329,0.167,0.667,5.4,2.7,0.9,0.1,2000,1
4,5,Calvin Booth,"Mar 25, '00, WAS @ DAL",23,10,11,143,16,46,0,...,42,0.348,0.000,0.714,13.0,3.8,2.9,0.6,2000,1

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(df_prepped.drop('lasts', axis=1), df_prepped['lasts'], test_size=.4, random_state=56)
X_val, X_test, y_val, y_test = train_test_split(X_val, y_val, test_size=.5, random_state=92)